問題1: リストの合計を計算する関数

In [ ]:
def sum_list(numbers):
  sum=0
  for i in numbers:
   sum +=i
  return sum

sum_list_num=([1,2,3,4,5])
result=sum_list(sum_list_num)
print(result)

15

問題2: 辞書の値をリストとして返す関数

In [ ]:

def dict_values_to_list(data):
    list_values=[]
    for i in data.values():
      list_values.append(i)
    return list_values
result = dict_values_to_list({"a": 1, "b": 2, "c": 3})
print(result)

[1, 2, 3]

問題3: 文字列リストから特定の文字で始まる単語を抽出する関数

In [ ]:
def  filter_by_initial(word,inital):
  result=[]
  for i in word:
    if i.startswith(inital):
      result.append(i)
  return result



fruits=filter_by_initial(["apple", "banana", "cherry"], "b")
print(fruits)

['banana']

問題4: リスト内の偶数をカウントする関数

In [ ]:
def count_even_numbers(numbers):
  count=0
  for i in numbers:
    if i%2==0:
      count+=1
  return count

result=count_even_numbers([1, 2, 3, 4, 5, 6])
print(result)

3

問題5: 辞書のキーをリストとして返す関数

In [ ]:
def dict_keys_to_list(data):
  key=[]
  for i in data.keys():
    key.append(i)
  return key

result=dict_keys_to_list({"name": "Alice", "age": 25})
print(result)

['name', 'age']

問題6: リストの要素を逆順にする関数

In [23]:
def reverse_list(items):
  items_reverse=[]
  for i in reversed(items):
    items_reverse.append(i)

  return items_reverse
result=reverse_list([1, 2, 3, 4,])
print(result)

[4, 3, 2, 1]

問題7: 辞書の値の合計を計算する関数

In [9]:
def sum_dict_values(data):
 sum=0
 for i in data.values():
  sum+=i

 return sum

result=sum_dict_values ({"a": 10, "b": 20, "c": 30})
print(result)

60

問題8: 2つのリストを結合する関数

In [15]:
def  concat_lists(list1,list2):
  return list1+ list2

result=concat_lists([1, 2, 3], [4, 5, 6])

print(result)

[1, 2, 3, 4, 5, 6]

問題9: 文字列リストの各要素を大文字に変換する関数

In [16]:
def uppercase_strings(words):
  upper_word=[]
  for i in words:
    upper_word.append(i.upper())

  return upper_word

result=uppercase_strings(["hello", "world"])
print(result)

['HELLO', 'WORLD']

問題10: リストから重複する要素を削除する関数

In [25]:
def remove_duplicates(items):
  return list(set(items))

result=remove_duplicates([1, 2, 2, 3, 4, 4, 5])

print(result)

[1, 2, 3, 4, 5]

問題11: 辞書のキーを小文字に変換する関数

In [33]:
def  lowercase_keys(data):
  return  {k.lower():v for k,v in data.items()}
result=lowercase_keys({"Name": "Alice", "Age": 25})
print(result)

{'name': 'Alice', 'age': 25}

問題12: 文字列リストをアルファベット順にソートする関数

In [35]:
def sort_strings(words):
  return sorted(words)

result=sort_strings(["banana", "apple", "cherry"])
print(result)

['apple', 'banana', 'cherry']

問題13: 辞書の特定のキーの値を取得する関数

In [37]:
def get_dict_value(data,key):
  return data.get(key)

result=get_dict_value({"name": "Alice", "age": 25}, "age")
print(result)

25

問題14: リストから特定の値をすべて削除する関数

In [38]:
def remove_all_occurrences(items,value):
  return [i for i in items if i!=value]

result=remove_all_occurrences([1, 2, 3, 2, 4, 2, 5], 2)
print(result)

[1, 3, 4, 5]

問題15: 辞書の値の最大値を返す関数

In [ ]:
def max_dict_value(data):
  return max(data.values())

result=max_dict_value({"a": 10, "b": 20, "c": 30})
print(result)

問題16: リストの要素を2倍にする関数

In [39]:
def  double_elements(numbers):
  return [i*2 for i in numbers]

result=double_elements([1, 2, 3])
print(result)

[2, 4, 6]

問題17: 辞書のキーと値を逆にする関数

In [41]:
def  reverse_dict(data):
  return {v:k for k,v in data.items()}

result=reverse_dict({"a": 1, "b": 2, "c": 3})
print(result)

{1: 'a', 2: 'b', 3: 'c'}

問題18: 文字列リストから特定の文字を含む単語を抽出する関数

In [42]:
def  filter_by_char(words,char):
  return [i for i in words if char in i]

result=filter_by_char(["apple", "banana", "cherry"], "a")
print(result)

['apple', 'banana']

問題19: リストの要素の平均値を計算する関数

In [49]:
def average_list(numbers):

  total=sum(numbers)
  length=len(numbers)
  average=total/length

  return average

result=average_list([1, 2, 3, 4, 5])

print(result)

3.0

問題20: 辞書のキーをリストにして返す関数

In [50]:
def dict_keys_to_list(data):
  return list(data.keys())

result=dict_keys_to_list({"name": "Alice", "age": 25})
print(result)

['name', 'age']